@charset "utf-8";
/*公共样式 start*/
body,div,h1,p,h2,header,ul,li,dl,dt,dd,ol,nav,input,footer{ margin:0; padding:0;}
body{ color:#000;font-family:Arial, Helvetica, sans-serif;background:#f2f2f2;}
body,html{ height:100%;-webkit-touch-callout: none;-webkit-user-select:none;}
@media screen and (max-width:479px){
    body{font-size:10px;-webkit-text-size-adjust: none;}
    input{font-size:10px;}
}
@media screen and (min-width:480px) and (max-width:639px){
    body{font-size:15px;-webkit-text-size-adjust: none;}
    input{font-size:15px;}
}
@media screen and (min-width:640px) and (max-width:719px){
    body{font-size:20px;-webkit-text-size-adjust: none;}
    input{font-size:20px;}
}
@media screen and (min-width:720px){
    body{font-size:22px;-webkit-text-size-adjust: none;}
    input{font-size:22px;}
}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-size:100%; font-weight:normal;}
ul,li{ list-style:none;}
html{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
img{border:none;  vertical-align:middle; width:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}
input{ font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none; color:#fff;}
a:hover{ text-decoration:none;color:#fff;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}

#head{
    width:100%;
    background:#e7416e;
    height:3.5em;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
#head label{
    font-size:2em;
    margin:0px;
    color:#ffffff;
    font-weight: bold;
}
#cont{

    display: -webkit-box;
    -webkit-box-orient:vertical;



}
#popular{
  margin-top:0.5em;
}
#popular dl{
    width: 96%;
    margin: 0 auto;
    border:1px solid #e1e1e1;
    background: #fdfbfc;
    display: -webkit-box;
    height:16.5%;
    position: relative;
}
#popular dl dt{
    width:20%;
    height: 100%;
}
#popular dl dt img{
    width:100%;
    margin-right: 0;
    margin-top:0.2em;
    margin-left: 2%;
    margin-bottom: 0.1em;
}
#popular dl dd{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

#popular dl dd h1{
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
    color: #575656;

}
.getInto{
    background: url("../images/getIntoBg_03.png") no-repeat ;
    background-size: 1em 1.5em;
    width: 1em;
    height: 1.5em;
    display:block;
    position: absolute;
    right: 2em;
    top:30%;

}


#seckill dl{
    width: 96%;
    margin: 0 auto;
    border:1px solid #e1e1e1;
    background: #fdfbfc;
    display: -webkit-box;
    height:16.5%;
    position: relative;
}
#seckill dl dt{
    width:20%;
    height: 100%;
}
#seckill dl dt img{
    width:100%;
    margin-right: 0;
    margin-top:0.2em;
    margin-left: 2%;
    margin-bottom: 0.1em;
}
#seckill dl dd{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

#seckill dl dd h1{
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
    color: #575656;

}
#seckill{
    margin-top:0.5em;
}




#recommend dl{
    width: 96%;
    margin: 0 auto;
    border:1px solid #e1e1e1;
    background: #fdfbfc;
    display: -webkit-box;
    height:16.5%;
    position: relative;
}
#recommend dl dt{
    width:20%;
    height: 100%;
}
#recommend dl dt img{
    width:100%;
    margin-right: 0;
    margin-top:0.2em;
    margin-left: 2%;
    margin-bottom: 0.1em;
}
#recommend dl dd{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

#recommend dl dd h1{
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
    color: #575656;

}
#recommend{
    margin-top:0.5em;
}


#shoeCabinet dl{
    width: 96%;
    margin: 0 auto;
    border:1px solid #e1e1e1;
    background: #fdfbfc;
    display: -webkit-box;
    height:16.5%;
    position: relative;
}
#shoeCabinet dl dt{
    width:20%;
    height: 100%;
}
#shoeCabinet dl dt img{
    width:100%;
    margin-right: 0;
    margin-top:0.2em;
    margin-left: 2%;
    margin-bottom: 0.1em;
}
#shoeCabinet dl dd{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

#shoeCabinet dl dd h1{
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
    color: #575656;

}
#shoeCabinet{
    margin-top:0.5em;
}


#footprint dl{
    width: 96%;
    margin: 0 auto;
    border:1px solid #e1e1e1;
    background: #fdfbfc;
    display: -webkit-box;
       height:16.5%;
    position: relative;
}
#footprint dl dt{
    width:20%;
    height: 100%;
}
#footprint dl dt img{
    width:100%;
    margin-right: 0;
    margin-top:0.2em;
    margin-left: 2%;
    margin-bottom: 0.1em;
}
#footprint dl dd{
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

#footprint dl dd h1{
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
    color: #575656;

}

#footprint{
    margin-top:0.5em;
}

footer {
    position: absolute;
    width: 100%;
    height:4em;
    bottom: 0;
    left: 0;
    background:black;
    opacity:0.8;
}
footer ul {
    hheight:3.5em;
    display:-webkit-box;
}
footer ul li {
    padding-top:2.2em;
    width: 15%;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 5%;
}
footer ul li:nth-child(1){
    background:url(../images/shouyeweixuanzhong_03.png)0.3em 0.5em no-repeat;
    background-size:1.5em 1.5em;
}
footer ul li:nth-child(2){
    background:url(../images/fenlei_03.png)0.3em 0.5em no-repeat;
    background-size:1.5em 1.5em;
}
footer ul li:nth-child(3){
    background:url(../images/faxianhoverbg_11.png)0.3em 0.9em no-repeat;
    background-size:1.6em 1.1em;
}
footer ul li:nth-child(4){
    background:url(../images/wode_11.png)0.3em 0.5em no-repeat;
    background-size:1.5em 1.5em;
}
footer ul li:nth-child(5){
    background:url(../images/gengduo_13.png)0.3em 0.5em no-repeat;
    background-size:1.5em 1.5em;
}

#wrapper{
    position: absolute;
    top:4em;
    bottom:4.1em;
    width: 100%;
}
